.items li {
	margin: 5px auto;
  border: 1px solid #f2f2f2;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 15px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-left: 4px solid var(--clr-primary);
}

.quantity {
	color: black;
  font-size: 1.3em;
}

.name {
	color: var(--clr-primary);
  font-size: 1.2em;
}

.expiry {
	margin-left: auto;
  margin-right: 40px;
  color: #777;
  font-weight: bold;
  font-size: 1.2em;
}

.items button {
  position: absolute;
  top: 0;
  right:0;
  background: #ddd;
  color: #777;
  border: none;
	border-radius: 0%;
  padding: 12px 8px;
  text-align: center;
  line-height: 0;
  font-size: 0.9em;
  cursor: pointer;
}

.items button:hover {
	 background-color: var(--clr-primary);
	 color: white;
}
