

.navbar {
	width: 100%;
	background: white;
	padding: 20px 20px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.navbar ul {
	display: flex;
	align-items: center;
	list-style: none;
}

.logo {
	margin-right: auto;
	margin-left: 0px;
}

.logo img {
	width: 100px;
	margin-top: 7px;
}

.divider {
	outline: 1px solid rgb(168, 165, 165);
	margin-left: 15px;
}

.navbar a {
	text-decoration: none;
	color: black;

}


.navbar button, .link {
	margin-left: 15px;
}

.link:hover {
	text-decoration: underline;
}
