.signup {
	max-width: 360px;
	margin: 50px auto;
}

.signup h2 {
	font-weight: normal;
	font-size: larger;
}

.signup label {
	display: block;
	margin: 30px auto;
}

.signup input {
	font-size: 1em;
}